.App-header {
    display: flex;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .title {
    display: flex;
    align-items: start;
  ;justify-content: center;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .submenu {
    display: flex;
    align-items: start;
    justify-content: start;  
  }